<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="orderGoodService" class="com.mmalaenko.service.impl.OrderGoodServiceImpl">
        <constructor-arg ref = "orderGoodRepository"/>
    </bean>
    <bean id="orderGoodRepository" class="com.mmalaenko.repository.impl.OrderGoodRepositoryImpl">
    </bean>

    <bean id="orderService" class = "com.mmalaenko.service.impl.OrderServiceImpl">
        <constructor-arg ref = "orderRepository"/>
    </bean>
    <bean id="orderRepository" class="com.mmalaenko.repository.impl.OrderRepositoryImpl">
    </bean>

    <bean id ="productService" class="com.mmalaenko.service.impl.ProductServiceImpl">
        <constructor-arg ref = "productRepository"/>
    </bean>
    <bean id ="productRepository" class ="com.mmalaenko.repository.impl.ProductRepositoryImpl"/>

    <bean id="userService" class="com.mmalaenko.service.impl.UserServiceImpl">
        <constructor-arg ref ="userRepository"/>
    </bean>
    <bean id="userRepository" class="com.mmalaenko.repository.impl.UserRepositoryImpl">
    </bean>


</beans>