/*0-0-0-1*/
div{
    color: red !important;

}
/* 0-1-0-0*/
#world {
    color:yellow;
}
/*Специфичность*/
/* задается 4 числовыми значениями */
/*1-0-3-4 */
/*
1ое число- наличие у элемента атрибута stule
2 - наличие и кол-во в селекторе идентификаторов
Пример:
#id1 > #id2 {}
0-2-0-0
3 - наличие и кол-во классов в селекторе(.class)
Пример:
#id1 ~ .class1 .class2 {}
0-1-2-0
4 -  наличие и кол-во в селекторе элементов(тегов) и атрибутов
Пример:
div > .class1 p > a.class2 #id {}
0-1-2-3
*/
#normal {
    position:static ;/* в нормальном потоке*/
    /*inherit -  значение свойста будет наследоваться от родительского блока*/
    /* initial- значение по умолчанию установленное браузером*/
}
#relative {
    /*
    сохраняет отрисовку элементов в нормальном потоке,но при этом позволяет перемещать эти элементы
    по осям. перемещение по осям задается при помощи свойств top,bottom,left,right
    */
    position: relative;
    left: 200px;
    top:100px;
}
#fixed {
    /*
    fixed - убирает элементы из нормального потока
    и позиционирует их относительно окна браузера
    */
    position: fixed;
    bottom: 30px;
    right:30px;
    background: black;
    border-radius: 50%;
    width: 50px;
    height:50px;
    padding: 10px;
}
#absolute {
    position: absolute;
    background: darkgreen;
    padding: 100px;
    top: 50px;
    left:100px;
}
#absolute2 {
    position: absolute;
    background: gold;
    padding: 50px;
    top:200px;
    left:250px;
}
/*цвета в CSS
Можно задавать 3 способами:
1. при помощи названия цвета
2. При помощи 16 кода цвета
3. При помощи псевдофункций RGB и RGBA
*/