/* селекторы */
/* 
универсальный селектор  применяется для всех
тегов внутри body
*/
* {
    text-transform: uppercase;
}
/*
селектор по тегу
применяется только для конкретного названия тега
*/
div {
    border-radius: 16px;
}
/*
 Селектор по идентификатору 
 применяется для тега с заданным ID
 */
 #link {
    cursor: progress;
 }
 /*
 селектор по классу
применяется для всех тегов с заданным значением атрибута class
 */
 .test {
     border: 2px solid black;
 }
 .test2 {
     background: crimson;
 }
 /*
 селектор по атрибуту
применяется для всех тегов с заданным значением атрибута
 */
 a[href="#"] {
     padding: 20px;
 }
 /*
 комбинированные селекторы(комбинаторы)
 */
 /* , */
 #link, .test, a[href] {
    font-size: 16px;
 }
 /* пробел */
 #link p {
     color: darkblue;
 }
 /* > */
 #link > p {
     color: darkblue;
 }

 
